configTimer=300
workingDir=/home/ubuntu/working
env:NULLMAILER_FLAGS=t
env:NULLMAILER_USER=mccachar
env:NULLMAILER_HOST=consultingprof.com
env:NULLMAILER_NAME=Charles McCabe
fromAddress=mccachar@consultingprof.com
toAddress=spam@donotpay.com
emptyFile=/home/ubuntu/emptyfile
throttleSecs=300
emptyQueueSecs=60
